---
name: Vrais Résultats
title: Les vrais résultats des élections Fran&ccedil;aises, en comptant l'abstention, les nuls et les blancs
---
<div class="col-md-12 p-4 mb-3 bg-light rounded">
  <p>Vrais résultats est un outil de visualisation des vrais résultats aux
  élections Fran&ccedil;aises, c'est à dire en comptant les abstentions, les
  votes blancs et nuls.</p>

  <p>Tous les résultats proviennent des données publiées par le ministère de
  l'intérieur sur <a href="https://www.data.gouv.fr">data.gouv.fr</a>.</p>
</div>

<div class="row mb-2">
  <div class="col-md-12">
    <input id="sq" type="search" class="form-control" placeholder="Chercher une élection">
  </div>
</div>

<div class="search d-none">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">Recherche</h1>
    </div>
  </div>

  <div class="row mb-2 results">

  </div>
</div>

<div class="no-search">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">Elections les plus récentes</h1>
    </div>
  </div>

  <div class="row mb-2">
    <% dataset.each do |election| %>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <a href="<%= election[:name].parameterize %>" class="stretched-link">
              <h3 class="mb-0"><%= election[:name] %></h3>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
