<head>
	<meta charset="utf-8">
	<title><%= page_title(@item) %></title>
	<link rel="stylesheet" href="/assets/stylesheets/application.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/assets/stylesheets/application.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script async src="/assets/javascripts/fuse.js"></script>
	<script async src="/assets/javascripts/bootstrap.js"></script>
	<script async src="/assets/javascripts/application.js"></script>

	<% if production? %>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-219HJLLS79"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-219HJLLS79');
		</script>
	<% end %>
</head>
